<!DOCTYPE html>
<html ng-app='face'>
<head>
  <title>Angular Friends</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head >
<body ng-controller='friendController'>

  <h1>The <strong>facebook</strong> Friend Machine</h1>

  <div class="friends">
    <form class="form-inline searchForm" role="form">
      <div class="form-group">

        <!-- <input class="form-control" ng-model='searchTerm' placeholder="Search Anything About Your Friends"> -->
        <!-- STEP 5: Get rid of the one above when you uncomment the below-->

        <!-- <select ng-model='friends' ng-options="friends as fr "> -->

        </select>
        <input class="form-control"  placeholder="Search Name" ng-model='f.name'>
        <input class="form-control" placeholder="Search Location" ng-model='f.current_location.name'>

          <!-- black diomond -->
          <select
          class="input-medium"
          ng-model='sortProp'
          ng-options='option.value as option.name for option in options'>

          </select>

        <!-- <select class="input-medium" ng-model='sortProp'>
          <option value="name">Name</option>
          <option value="friend_count">#Friends</option>
          <option value="current_location.city">City</option>
          <option value="current_location.state">State</option>
          <option value="current_location.country">Country</option>
        </select> -->

        <select class="input-medium" ng-model='sortDirection'
        >
          <option value="+">Descending</option>
          <option value="">Ascending</option>
        </select>

      </div>
    </form>

  <!-- ng-repeat='f in friends | filter: friendname | filter: f | orderBy:sortProp : sortDirection' -->
    <ul ng-repeat='f in friends | filter: friendname | filter: f | orderBy: sortProp : sortDirection'>
      <li class='friend' value='{{friend_count}}'>
        <img class="profile-pic" ng-src='{{f.pic_square}}'>

        <h3>{{f.name}}</h3>

        <div class="location">
          Location: {{f.current_location.city}}, {{f.current_location.state}}, {{f.current_location.country}}
        </div>

        <div class="status">
          Status: {{f.status.message}} <span class="hashtag">#ihateprovo</span>
        </div>

        <div class="num-friends">
          Friends: {{f.friend_count}}
        </div>
      </li>
    </ul>
  </div>





  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js" charset="utf-8"></script>

  <script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous">
  </script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="app.js"></script>
  <script src="FriendController.js"></script>
</body>
</html>
